<div class="card ">
  <div class="card-header">
    <h1> Ordini </h1>
  </div>
  <div class="card-body">
    <div class="row text-center mt-2">

      <div class="col-md-3 col-6">
        <%= link_to "Home", root_path, class: "btn btn-block btn-primary mybtn", role: "button" %>
      </div>

      <div class="col-md-3 col-6">
        <%= link_to "Clienti", users_path, class: "btn btn-block btn-primary mybtn", role: "button" %>
      </div>

      <div class="col-md-3 col-6">
        <%= link_to "Articoli", items_path, class: "btn btn-block btn-primary mybtn", role: "button" %>
      </div>

      <div class="col-md-3 col-6">
        <%= link_to "Vendite", orders_path, class: "btn btn-block btn-primary mybtn", role: "button" %>
      </div>



    </div>
  </div>
</div>

</br>
